body {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#calculator {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator {
    background-color: rgb(255, 0, 132);
}

.operator:hover {
    background-color: hsl(329, 100%, 70%);
}

.operator:active {
    background-color: hsl(326, 100%, 80%);
}